*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #076585,#fff);
    font-family: "Roboto", sans-serif;
}

.container
{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding:25px 30px;
    border-radius: 5px;   
}

.container .title
{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #3454CF;
}


/* .container .title::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background:linear-gradient(135deg, #076585,#fff);
    left: 120px;
    bottom: 0px;
  
} */
.container form .user-details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 form .user-details .input-box
{
    margin: 20px 0 12px 0;
    width: calc(100%/2 - 20px);
}
.user-details .input-box .details
{
     display: block;
    font-weight: 500;
    margin-bottom: 15px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;

    border-bottom-width: 2px;

}

.user-details .input-box input:focus,
.user-details .input-box input:valid
{
   border-color:#076585
}

.genderInformation{
    margin: 1rem 0;
}

.genderInformation .gender-title
{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#dot-1, #dot-2, #dot-3{
    display: inline-block;
    margin-right: 0.75rem;
    cursor: pointer;
}

.genderInformation  .catogery 
{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 1rem 0;
}

.genderInformation  .catogery label
{
    display: flex;
    align-items: center;
}

.genderInformation  .catogery .dot
{
    height: 18px;
    width:  18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all o.3s ease;
}

/* #dot-1:checked ~ .catogery label .one,
#dot-2:checked ~ .catogery label .two,
#dot-3:checked ~ .catogery label .three
{
    border-color: #d9d9d9;
    background-color:#076585 ;
  
} */

form input[type ="radio"]
{
    display: none;
}

 .container .button input
{
  height: 100%;
  width: 50%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  background:#3454CF;
  margin-top: 40px;
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
  border: none;
  color: #F5F5F5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.container .button input:hover
{
    background-color: #3453cfe5;
}

@media (max-width:584px)
{
   .container{
    max-width: 100%;

   }

   form .user-details .input-box
   {
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
    width: 100%;
   }

   form .genderInformation .catogery
   {
    width: 100%;
   }
   

   .container form .user-details
   {
    max-height: 300px;
    overflow-y: scroll;
   }

   .user-details::-webkit-scrollbar
   {
    width: 0;
   }
}